.work-sans{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

/* start header  */
.header-image{
    /* background: url(imgs/header-Image.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-width: 1200px;
    min-width: 100px; */
    border-radius: 10px;
}

.header-image>a>img {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-inf{
    color: gray;
}

.header-comment{
    width: 30%;
    top: 70%;
    left: 15%;
}

@media (max-width: 991.98px) {
    .header-comment{
        width: 75%;
    }
}
.header{
    margin-bottom: 130px;
}

/* start blog */
.blog{
    width: 30%;
}

.img-blog {
    object-fit: contain;
}

@media (max-width: 1199.98px) {
    .blog{
        width: 45%!important;
    }
}

@media (max-width: 767.98px) { 
    .blog{
        width: 100%!important;
    }
    .footer-items{
        width: 100%;
        
        margin-top: 10px;
    }
    .footer-logo{
        width: 100%;
    }
}
