{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load comments %}

{% block title %}{{ post.get_title_snippet }}{% endblock %}

{% block links %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/blog/post_detail.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- start header -->
    <header class="mt-5">
        <div class="my-cont">
            <div>
                <span class="badge text-bg-primary fw-light p-2">{{ post.category.name }}</span>
                {% if post.author == request.user.profile %}
                <button type="button" class="btn delete-post-btn" data-bs-toggle="modal" data-bs-target="#deletePostModal" data-delete-url="{% url 'blog:post_delete' pk=post.pk %}">
                    <i class="bi bi-trash3 text-danger"></i>
                </button>
                {% endif %}
                <h3 class="fw-bold fs-1 my-3">{{ post.title }}</h3>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <img class="rounded-circle me-1" src="{{ post.author.avatar.url }}" width="32px" alt="">
                        <span class="small text-secondary">{{ post.author.name }}</span>
                        <span class="small text-secondary ms-3">{{ post.created_date | date:'M d, Y | H:i A' }}</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-eye fs-4 me-2"></i>
                        <span class="me-2">{{ post.views.count }}</span>
                        <form method="post" action="" class="d-flex align-items-center">
                            {% csrf_token %}
                            <button type="submit" id="TUbtn" class="{% if liked_by_user %}text-primary{% else %}text-light-emphasis{% endif %} btn border-0 fs-4">
                                <i class="bi bi-hand-thumbs-up"></i>
                            </button>
                            <label class="me-1 fs-5">{{ post.likes.count }}</label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="{{ post.image.url }}" class="mt-4 rounded-2" {% if not post.image.name == 'posts/default.jpg' %}style="max-width: 100%; max-height: 80vh;"{% else %}width="100%" height="600px"{% endif %} alt=""> 
            </div>
        </div>
    </header>

    <!-- start content  -->
    <section>
        <div class="my-cont">
            <div class="post-content serif py-4 text-secondary fs-5">
                {{ post.content | safe }}
            </div>
        </div>
    </section>

    <!-- start comments -->
    <section class="mt-3">
        <div class="container">
            <div class="d-flex justify-content-between">
                <span class="fs-5 fw-semibold">Comments</span>
                <select id="comment-sort" class="form-select w-25" aria-label="Default select example">
                <option value="" {% if not request.GET.sort %}selected{% endif %}>Sort by</option>
                <option value="recent" {% if request.GET.sort == 'recent' %}selected{% endif %}>Recent</option>
                <option value="popular" {% if request.GET.sort == 'popular' %}selected{% endif %}>Popular</option>
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <form method="post" action="{% url 'comment:comment_create' post_pk=post.pk %}" class="w-100 d-flex justify-content-center">
                    {% csrf_token %}
                    <div class=" w-75 my-5 input-group">
                        <input name="content" class="form-control" placeholder="Leave a comment here">
                        <button type="submit" class="input-group-text"><i class="bi bi-send"></i></button>
                    </div>
                </form>
            </div>
            {% for comment in comments %}
                <div class="comment mt-3 w-75">
                    <div class="d-flex Justify-content-between flex-no-wrap">
                        <div class="d-flex Justify-content-between flex-no-wrap">
                            <div>
                                <img src="{{ comment.user.avatar.url }}" width="40px" class="rounded-circle me-2" alt="">
                                <span class="fw-semibold me-1">{{ comment.user.name }}</span>
                                <span class="small text-secondary">{{ comment.created_date | naturaltime }}</span>
                            </div>
                            {% if comment.user == request.user.profile %}
                                <button type="button" class="d-inline btn delete-comment-btn" data-bs-toggle="modal" data-bs-target="#deleteCommentModal" data-delete-url="{% url 'comment:comment_delete' post_pk=post.pk comment_pk=comment.pk %}">
                                    <i class="bi bi-trash3 text-danger"></i>
                                </button>
                                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i class="bi bi-pencil-square"></i></button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="my-3 text-dark-subtle">
                        <p>{{ comment.content }}</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <form method="post" action="{% url 'comment:comment_like' post_pk=post.pk comment_pk=comment.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" id="TUbtn" class="{% if comment.liked_by_user %}text-primary{% else %}text-light-emphasis{% endif %} btn border-0 fs-5">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                    </button>
                                </form>
                                <span class="me-1">{{ comment.likes.count }}</span>
                            </div>
                            <div class="mx-4">
                                <button type="button" class="reply-btn btn border-0" data-bs-toggle="collapse" data-bs-target="#replycollapse{{ comment.pk }}">
                                    <i class="bi bi-chat-dots"></i>
                                    <span>reply</span>
                                </button>
                            </div>
                        </div>
                        <form method="post" action="{% url 'comment:reply_create' post_pk=post.pk parent_pk=comment.pk %}">
                            {% csrf_token %}
                            <div class="collapse w-75 mt-1 input-group" id="replycollapse{{ comment.pk }}">
                                <input name="content" class="form-control" placeholder="Leave a reply here">
                                <button type="submit" class="input-group-text" data-bs-toggle="collapse" data-bs-target="#replycollapse{{ comment.pk }}"><i class="bi bi-send"></i></button>
                            </div>
                        </form>
                    </div>
                    {% if comment.replies %}
                        {% get_all_replies comment as replies %}
                        {% for reply in replies %}
                            <div class="reply ms-4 w-75 mt-2">
                                <div>
                                <img src="{{ reply.user.avatar.url }}" width="30px" class="rounded-circle me-2" alt="">
                                <span class="fw-semibold me-1 small">{{ reply.user.name }}</span>
                                <span class="small text-secondary">{{ reply.created_date | naturaltime }}</span>
                            </div>
                            {% if reply.user == request.user.profile %}
                            <button type="button" class="btn me-5 delete-comment-btn" data-bs-toggle="modal" data-bs-target="#deleteCommentModal" data-delete-url="{% url 'comment:comment_delete' post_pk=post.pk comment_pk=reply.pk %}">
                                <i class="bi bi-trash3 text-danger"></i>
                            </button>
                            {% endif %}
                            <div class="my-3 text-dark-subtle">
                                <p>{{ reply.content }}</p>
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <form method="post" action="{% url 'comment:comment_like' post_pk=post.pk comment_pk=reply.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" id="TUbtn" class="{% if reply.liked_by_user %}text-primary{% else %}text-light-emphasis{% endif %} btn border-0 fs-5">
                                                <i class="bi bi-hand-thumbs-up"></i>
                                            </button>
                                        </form>
                                        <span class="me-1">{{ reply.likes.count }}</span>
                                    </div>
                                    <div class="mx-4">
                                        <button type="button" class="reply-btn btn border-0" data-bs-toggle="collapse" data-bs-target="#replycollapse{{ reply.pk }}">
                                            <i class="bi bi-chat-dots"></i>
                                            <span>reply</span>
                                        </button>
                                    </div>
                                </div>
                                <form method="post" action="{% url 'comment:reply_create' post_pk=post.pk parent_pk=reply.pk %}">
                                    {% csrf_token %}
                                    <div class="collapse w-75 mt-1 input-group" id="replycollapse{{ reply.pk }}">
                                        <input name="content" class="form-control" placeholder="Leave a reply here">
                                        <button type="submit" class="input-group-text" data-bs-toggle="collapse" data-bs-target="#replycollapse{{ reply.pk }}"><i class="bi bi-send"></i></button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <hr class="w-75 border border-1 border-secondary-subtle opacity-25">
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="deleteCommentModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="deleteCommentModalLabel">Delete Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this comment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="" id="delete-comment-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" id="liveAlertBtn">Delete</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deletePostModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="deleteCommentModalLabel">Delete Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this post?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="" id="delete-post-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" id="liveAlertBtn">Delete</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div id="ID" class="delete-alert position-fixed translate-middle-x"></div>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Edit Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action=""> 
            <label for="" class="fs-5 my-2">Edit your comment</label>
            <div class="d-flex">
                <input type="text" class="form-control w-75">
                <button class="btn btn-primary" style="width: 10%;">Edit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/blog/post_detail/comment_sort.js' %}"></script>
<script src="{% static 'scripts/blog/post_detail/modals.js' %}"></script>
{% endblock %}
