<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlobLog</title>
    <!-- links -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body class="work-sans" data-bs-theme="light">
    <!-- start nav  -->
    <nav class="my-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-3">
                <div class="logo d-flex justify-content-center">
                    <svg style="min-height: 24; min-width: 24;" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18 36C27.9411 36 36 27.9411 36 18C36 8.05888 27.9411 0 18 0C8.05888 0 0 8.05888 0 18C0 22.152 1.40577 25.9756 3.76732 29.021L7.73554 14.0299C9.38672 7.52344 13.6758 4.15725 20.5616 4.15725H22.936C27.7785 4.15725 31.335 8.70307 30.1698 13.4033C29.9609 14.2463 29.5702 15.0334 29.0253 15.7097L27.0045 18.2174C26.486 18.8609 26.2968 19.7092 26.493 20.5121L27.109 23.0338C27.4278 24.339 27.3695 25.708 26.941 26.9814C25.4832 31.3132 21.4227 34.231 16.8521 34.231H10.2086C12.5662 35.3648 15.2089 36 18 36Z"
                            fill="#141624" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17.7 21.7592H14.1932C13.0747 21.7592 12.0968 22.5135 11.8129 23.5953L10.4373 28.8354H15.871C17.8811 28.8354 19.6384 27.4799 20.1487 25.5357L20.2666 25.0865C20.7082 23.4043 19.4392 21.7592 17.7 21.7592ZM16.6646 23.3514H14.759C14.1206 23.3514 13.5623 23.7814 13.3993 24.3988L12.6486 27.2432H15.6532C16.7647 27.2432 17.7364 26.4977 18.0186 25.4284L18.0838 25.1814C18.328 24.2562 17.6263 23.3514 16.6646 23.3514Z"
                            fill="#141624" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14.9971 11.7427C15.2811 10.6609 16.2589 9.90663 17.3774 9.90663H20.8843C22.6235 9.90663 23.8925 11.5517 23.4509 13.2339L23.333 13.6831C22.8227 15.6273 21.0654 16.9828 19.0553 16.9828H13.6216L14.9971 11.7427ZM16.5836 12.5462C16.7465 11.9289 17.3049 11.4988 17.9433 11.4988H19.8489C20.8106 11.4988 21.5123 12.4036 21.2681 13.3288L21.2029 13.5758C20.9207 14.6451 19.949 15.3907 18.8375 15.3907H15.8329L16.5836 12.5462Z"
                            fill="#141624" />
                    </svg>
                    <span class="fs-4">Blob</span>
                    <span class="fw-bold fs-4">Log</span>
                </div>
            </div>
            <ul class="col-5 d-none d-md-flex nav justify-content-center border border-2 border-black align-items-center p-0">
                <li class="nav-item">
                    <a href="" class="nav-link  py-0 nav-buttons">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link  py-0 nav-buttons">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link  py-0 nav-buttons">pages</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link  py-0 nav-buttons">contact</a>
                </li>
            </ul>
            <div class="col-6 col-md-2">
                <form class="d-flex" role="search">
                    <input class="border-0 bg-secondary-subtle p-2 search-bar" type="search" placeholder="Search"
                        aria-label="Search" />
                </form>
            </div>
            <div class="col-1 p-0">
                <label class="custom-toggle">
                    <input type="checkbox" id="themeToggle">
                    <span class="slider">
                        <span class="icon sun-icon">
                        <svg viewBox="0 0 24 24" width="14" height="14">
                            <circle cx="12" cy="12" r="4" fill="currentColor"/>
                            <path d="M12 2v2M12 20v2M4.93 4.93l1.41 1.41M17.66 17.66l1.41 1.41M2 12h2M20 12h2M4.93 19.07l1.41-1.41M17.66 6.34l1.41-1.41" 
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none"/>
                        </svg>
                        </span>

                        <span class="icon moon-icon">
                        <svg viewBox="0 0 24 24" width="14" height="14">
                            <path fill="currentColor" d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
                        </svg>
                        </span>
                    </span>
                </label>
            </div>
            <div class="col-1 d-inline d-md-none">
                <button class="btn fs-3 text-secondary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="bi bi-list"></i>
                </button>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel"><div class="logo d-flex justify-content-center">
                    <svg style="min-height: 24; min-width: 24;" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18 36C27.9411 36 36 27.9411 36 18C36 8.05888 27.9411 0 18 0C8.05888 0 0 8.05888 0 18C0 22.152 1.40577 25.9756 3.76732 29.021L7.73554 14.0299C9.38672 7.52344 13.6758 4.15725 20.5616 4.15725H22.936C27.7785 4.15725 31.335 8.70307 30.1698 13.4033C29.9609 14.2463 29.5702 15.0334 29.0253 15.7097L27.0045 18.2174C26.486 18.8609 26.2968 19.7092 26.493 20.5121L27.109 23.0338C27.4278 24.339 27.3695 25.708 26.941 26.9814C25.4832 31.3132 21.4227 34.231 16.8521 34.231H10.2086C12.5662 35.3648 15.2089 36 18 36Z"
                            fill="#141624" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17.7 21.7592H14.1932C13.0747 21.7592 12.0968 22.5135 11.8129 23.5953L10.4373 28.8354H15.871C17.8811 28.8354 19.6384 27.4799 20.1487 25.5357L20.2666 25.0865C20.7082 23.4043 19.4392 21.7592 17.7 21.7592ZM16.6646 23.3514H14.759C14.1206 23.3514 13.5623 23.7814 13.3993 24.3988L12.6486 27.2432H15.6532C16.7647 27.2432 17.7364 26.4977 18.0186 25.4284L18.0838 25.1814C18.328 24.2562 17.6263 23.3514 16.6646 23.3514Z"
                            fill="#141624" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14.9971 11.7427C15.2811 10.6609 16.2589 9.90663 17.3774 9.90663H20.8843C22.6235 9.90663 23.8925 11.5517 23.4509 13.2339L23.333 13.6831C22.8227 15.6273 21.0654 16.9828 19.0553 16.9828H13.6216L14.9971 11.7427ZM16.5836 12.5462C16.7465 11.9289 17.3049 11.4988 17.9433 11.4988H19.8489C20.8106 11.4988 21.5123 12.4036 21.2681 13.3288L21.2029 13.5758C20.9207 14.6451 19.949 15.3907 18.8375 15.3907H15.8329L16.5836 12.5462Z"
                            fill="#141624" />
                    </svg>
                    <span class="fs-4">Meta</span>
                    <span class="fw-bold fs-4">Blog</span>
                </div></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav">
                        <li class="nav-item w-100">
                            <a href="" class="nav-link">Home</a>
                        </li>
                        <hr class="border border-dark w-75">
                        <li class="nav-item w-100">
                            <a href="" class="nav-link">Blog</a>
                        </li>
                        <hr class="border border-dark w-75">
                        <li class="nav-item w-100">
                            <a href="" class="nav-link">Pages</a>
                        </li>
                        <hr class="border border-dark w-75">
                        <li class="nav-item w-100">
                            <a href="" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- start header  -->
    <header class="row mt-4 header container mx-auto">
        <div>
            <div class="col-12 header-image">
                <div class="bg-light-subtle position-absolute rounded header-comment p-3 shadow">
                    <div class="badge text-bg-primary fw-light my-2">Technology</div>
                    <div>
                        <p class="text-dark-emphasis my-2 fs-4 fw-bold">
                        The Impact of Technology on the Workplace: How Technology is Changing
                        </p>
                    </div>
                    <div class="my-3">
                        <img src="../static/imgs/header-pfp.png" width="36" height="36" alt="">
                        <span class="small header-inf">Jason Francisco</span>
                        <span class="small header-inf">August 20, 2022</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- start blogs -->
    <section class="mt-5">
        <div class="container">
            <div class="mb-4">
                <span class="fw-bold fs-4">Latest Posts</span>
            </div>
            <div class="d-flex blogs flex-wrap">
                <div class="card blog border border-1 border-secondary-subtle m-3 p-2">
                    <img src="../static/imgs/Rectangle 38.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="badge text-primary my-2">Technology</div>
                        <p class="text-dark-emphasis my-2 fs-5 fw-bold card-text">
                        The Impact of Technology on the Workplace: How Technology is Changing
                        </p>
                        <div class="my-3">
                        <img src="../static/imgs/header-pfp.png" width="36" height="36" alt="">
                        <span class="small header-inf">Jason Francisco</span>
                        <span class="small header-inf">August 20, 2022</span>
                    </div>
                    </div>
                </div>
                <div class="card blog border border-1 border-secondary-subtle m-3 p-2">
                    <img src="../static/imgs/Rectangle 38.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="badge text-primary my-2">Technology</div>
                        <p class="text-dark-emphasis my-2 fs-5 fw-bold card-text">
                        The Impact of Technology on the Workplace: How Technology is Changing
                        </p>
                        <div class="my-3">
                        <img src="../static/imgs/header-pfp.png" width="36" height="36" alt="">
                        <span class="small header-inf">Jason Francisco</span>
                        <span class="small header-inf">August 20, 2022</span>
                    </div>
                    </div>
                </div>
                <div class="card blog border border-1 border-secondary-subtle m-3 p-2">
                    <img src="../static/imgs/Rectangle 38.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="badge text-primary my-2">Technology</div>
                        <p class="text-dark-emphasis my-2 fs-5 fw-bold card-text">
                        The Impact of Technology on the Workplace: How Technology is Changing
                        </p>
                        <div class="my-3">
                        <img src="../static/imgs/header-pfp.png" width="36" height="36" alt="">
                        <span class="small header-inf">Jason Francisco</span>
                        <span class="small header-inf">August 20, 2022</span>
                    </div>
                    </div>
                </div>
                <div class="card blog border border-1 border-secondary-subtle m-3 p-2">
                    <img src="../static/imgs/Rectangle 38.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="badge text-primary my-2">Technology</div>
                        <p class="text-dark-emphasis my-2 fs-5 fw-bold card-text">
                        The Impact of Technology on the Workplace: How Technology is Changing
                        </p>
                        <div class="my-3">
                        <img src="../static/imgs/header-pfp.png" width="36" height="36" alt="">
                        <span class="small header-inf">Jason Francisco</span>
                        <span class="small header-inf">August 20, 2022</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <a class="p-2 small text-decoration-none rounded border border-1 text-secondary" href="">View All Posts</a>
            <!-- </div> -->
        </div>
    </section>

    <!-- start footer  -->
    <footer class="bg-secondary-subtle w-100 mt-5 p-5">
        <div class="container">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="me-5 footer-about">
                    <span class="fs-5 fw-semibold">About</span>
                    <p class="my-4 text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <div>
                        <span class="fw-bold">Email:</span>
                        <span class="text-secondary">info@403web.net</span>
                    </div>
                    <div>
                        <span class="fw-bold">Phone:</span>
                        <span class="text-secondary"> 880 123 456 789</span>
                    </div>
                </div>
                <div class="ms-lg-5 mb-3 mb-lg-0">
                    <span class="fs-5 fw-semibold">Quick Links</span>
                    <ul class="list-unstyled mt-4">
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Home</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">About</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Blog</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Archive</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Author</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="mx-xl-5 mb-3 mb-lg-0">
                    <span class="fs-5 fw-semibold">Category</span>
                    <ul class="list-unstyled mt-4">
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Lifestyle</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Technology</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Travel</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Business</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Economy</a>
                        </li>
                        <li class=" mt-2">
                            <a href="" class="text-decoration-none text-dark">Sports</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center footer-form-box">
                    <div class="rounded-2 d-flex align-items-center flex-column bg-light-subtle p-4 ms-4 footer-form">
                        <span class="d-block fs-5 fw-semibold mb-1">Weekly Newsletter</span>
                        <span class="mb-4 d-block text-secondary">Get blog articles and offers via email</span>
                        <form action="" class="w-100">
                            <Input type="email" placeholder="Your Email" class="form-control border border-1 border-secondary"></Input>
                            <input type="submit" class="btn btn-primary w-100 mt-3">
                        </form>
                    </div>
                </div>
            </div>
            <hr class="w-100 border border-secondary border-1 mt-5">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class="d-flex footer-logo">
                    <svg class="me-2" style="min-height: 55; min-width: 55;" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18 36C27.9411 36 36 27.9411 36 18C36 8.05888 27.9411 0 18 0C8.05888 0 0 8.05888 0 18C0 22.152 1.40577 25.9756 3.76732 29.021L7.73554 14.0299C9.38672 7.52344 13.6758 4.15725 20.5616 4.15725H22.936C27.7785 4.15725 31.335 8.70307 30.1698 13.4033C29.9609 14.2463 29.5702 15.0334 29.0253 15.7097L27.0045 18.2174C26.486 18.8609 26.2968 19.7092 26.493 20.5121L27.109 23.0338C27.4278 24.339 27.3695 25.708 26.941 26.9814C25.4832 31.3132 21.4227 34.231 16.8521 34.231H10.2086C12.5662 35.3648 15.2089 36 18 36Z"
                            fill="#141624" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17.7 21.7592H14.1932C13.0747 21.7592 12.0968 22.5135 11.8129 23.5953L10.4373 28.8354H15.871C17.8811 28.8354 19.6384 27.4799 20.1487 25.5357L20.2666 25.0865C20.7082 23.4043 19.4392 21.7592 17.7 21.7592ZM16.6646 23.3514H14.759C14.1206 23.3514 13.5623 23.7814 13.3993 24.3988L12.6486 27.2432H15.6532C16.7647 27.2432 17.7364 26.4977 18.0186 25.4284L18.0838 25.1814C18.328 24.2562 17.6263 23.3514 16.6646 23.3514Z"
                            fill="#141624" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14.9971 11.7427C15.2811 10.6609 16.2589 9.90663 17.3774 9.90663H20.8843C22.6235 9.90663 23.8925 11.5517 23.4509 13.2339L23.333 13.6831C22.8227 15.6273 21.0654 16.9828 19.0553 16.9828H13.6216L14.9971 11.7427ZM16.5836 12.5462C16.7465 11.9289 17.3049 11.4988 17.9433 11.4988H19.8489C20.8106 11.4988 21.5123 12.4036 21.2681 13.3288L21.2029 13.5758C20.9207 14.6451 19.949 15.3907 18.8375 15.3907H15.8329L16.5836 12.5462Z"
                            fill="#141624" />
                    </svg>
                    <div>
                        <div>
                            <span class="fs-4 footer-logo-title">Blob</span>
                            <span class="fw-bold fs-4">Log</span>
                        </div>
                        <div>
                            <span>©403Web</span>
                            <span class="text-secondary fw-light">2026. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
                <div class="footer-items">
                    <span class="text-secondary-emphasis">Terms of Use</span>
                    <div class="vr mx-2"></div>
                    <span class="text-secondary-emphasis">Privacy Policy</span>
                    <div class="vr mx-2"></div>
                    <span class="text-secondary-emphasis">Cookie Policy</span>
                </div>
            </div>
        </div>
    </footer>





    
    
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggle = document.getElementById('themeToggle');
        const html = document.documentElement;
        const body = document.body;

        const savedTheme = localStorage.getItem('theme') || 'light';
        
        body.setAttribute('data-bs-theme', savedTheme);
        body.setAttribute('data-bs-theme', savedTheme);
        toggle.checked = savedTheme === 'dark';

        toggle.addEventListener('change', function () {
            const theme = this.checked ? 'dark' : 'light';
            
            body.setAttribute('data-bs-theme', theme);
            body.setAttribute('data-bs-theme', theme);
            localStorage.setItem('theme', theme);
            
            console.log('تم فعلی:', theme);
        });
    });
    </script>
</body>

</html>
